.vs/
x64/
Muebles CA.sln
Muebles Model/Muebles Model.vcxproj
Muebles Model/Muebles Model.vcxproj.filters
Muebles Model/Muebles Model.vcxproj.user
MueblesController/MueblesController.vcxproj
MueblesController/MueblesController.vcxproj.filters
MueblesController/MueblesController.vcxproj.user
Muebles CA pantallas/Muebles CA pantallas.vcxproj
Muebles CA pantallas/Muebles CA pantallas.vcxproj.filters
Muebles CA pantallas/Muebles CA pantallas.vcxproj.user
Muebles CA pantallas/Imagenes de sistema/
Codigo auxiliar.txt
Codigo de C++ para MySQL.txt

